# Build results
[Oo]bj/
x64/
x86/
out/

# VS settings
.vs/
*.user
*.suo

# NuGet
packages/
*.nupkg

# Others
*.log
*.tmp
PulseProfileSimulator.exe
*.exe.metagen
*.pdb
/doc
/dev/build/PulseProfileSimulator/Debug/
dev/build/PulseProfileSimulator/Release/